{% extends 'base.html' %}
{% block content %}
<h2 class="border-start border-5 border-primary ps-2 fw-lighter">Pos Klimatologi (<b>{{ ctx.pklimats|length }}</b>)</h1>
<div class="row">
    <div class="col">
        <div class="text-end mb-3">
            <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-secondary me-5">{{ ctx._sampling.strftime('%d')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%d')}}</span> {{ ctx.sampling.strftime('%b') }} 
            {% if ctx.sampling_ %}<a class="btn btn-outline-secondary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%d')}}</a>
            {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
        </div>
        <table class="table table-bordered table-hover table-striped">
<thead>
    <tr>
        <th>Nama</th>
        <th>Curah Hujan</th>
        <th>Temp Min</th>
        <th>Temp Mak</th>
        <th>Kelembaban</th>
        <th>Kec Angin</th>
        <th>Arah Angin</th>
        <th>Waktu Data</th>
    </tr>
</thead>
<tbody>
{% for p in ctx.pklimats %}
    <tr>
        <td>{{ p.nama }}</td>
        <td>{{ p.klimat.rain }}</td>
        <td>{{ p.klimat.temperature }}</td>
        <td></td>
        <td>{{ p.klimat.humidity }}</td>
        <td>{{ p.klimat.wind_speed }}</td>
        <td>{{ p.klimat.wind_dir }}</td>
        <td>{{ p.klimat.sampling }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="8">Tidak ada data</td>
    </tr>
{% endfor %}
</tbody>
        </table>
    </div>
</div>

{% endblock %}