{% extends 'base.html' %}
{% block title %}Data Kualias Air{% endblock %}
{% block content %}
{%  set end_of_periode = ctx.sampling.replace(month=ctx.sampling.month + 5) %}
<h2 class="border-start border-5 border-danger ps-2 fw-lighter">Kualitas Air</h2>

<div class="row">
    <div class="col">
        <div class="text-center mb-3">
            <div class="row">
                <div class="col">
                    <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary me-5"><i
                            class="bi bi-chevron-left"></i></a>
                </div>
                <div class="col">
                    <span><span class="fs-3">{{ ctx.sampling.strftime('%b')}} - {{ end_of_periode.strftime('%b %Y')
                            }}</span>
                        <br /><span class="text-secondary">{% if ctx.hasil_uji %} <strong>{{
                                    ctx.hasil_uji|length }}</strong> hasil uji{% else %}
                                <span class="text-danger">Tidak ada hasil uji</span>{% endif %}</span>
                    </span>
                </div>
                <div class="col">
                    {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5"
                        href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}"><i class="bi bi-chevron-right"></i></a>
                    {% else %}<button class="btn btn-outline-secondary ms-5 disabled" aria-disabled="true"><i
                            class="bi bi-chevron-right"></i></button>{% endif
                    %}</span>
                </div>
            </div>
        </div>
        {% if ctx.hasil_uji %}
        <div class="table-responsive mt-5">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Lokasi</th>
                        <th>Sungai</th>
                        {%
                        for i in range(6) %}{% set bulan = ctx.sampling.replace(month=ctx.sampling.month + i)
                        %}
                        <th>{{ bulan.strftime('%b') }}</th>
                        {% endfor %}

                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for h in ctx.hasil_uji %}
                    <tr>
                        <td><span class="ms-1">{{ h.pos.nama }}</span></td>
                        <td style="color: {{ orde_color }}">{{ h.pos.sungai }}</td>
                        {% for i in range(6) %}
                        <td class="text-center">
                            {% if h.sampling.month == ctx.sampling.month + i %}
                            {{ h.show_icon }} <a href="/static/ka/{{ h.sampling.strftime("_%Y/_%m/") + h.doc_path }}"><i class="bi bi-file-earmark-richtext"></i></a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-secondary mt-3 ms-2"><strong>Legenda</strong> ✅ : <i>Memenuhi Baku Mutu</i>, ⚠️ : <i>Cemar Ringan</i>, ❗ : <i>Cemar Sedang</i>, 🚫 : <i>Cemar Berat</i></p>
        </div>
    </div>
    {% else %}
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/static/img/cty-logo-gray.png" alt="CTY Citanduy" width="180">
        <p class="fs-5 text-secondary mt-5">Tidak ditemukan hasil uji Kualitas Air pada periode ini</p>
    </div>
    {% endif %}
</div>

{% endblock %}