{% extends 'base.html' %}
{% block title %}Publikasi{% endblock %}
{%- block content %}
<h2 class="border-start border-5 border-danger ps-2 fw-lighter">Publikasi</h2>
<p>Informasi hasil analisa Tim Hidrologi</p>
<div class="text-end mb-3">
    <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%b %Y')}} <i class="bi bi-chevron-left"></i></a> 
    <span class="fs-3">{%- if ctx.sampling.month == 7 %}Jul - Des{%- else %}Jan - Jun{%- endif %} {{ ctx.sampling.strftime('%Y')}} </span> 
    {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}"><i class="bi bi-chevron-right"></i> {{ ctx.sampling_.strftime('%b %Y')}}</a>
    {% else %}<button class="btn btn-outline-secondary ms-5 disabled" aria-disabled="true">-</button>{% endif %}</span>
</div>

<div class="container">

    <div class="row">
        {%- for pub in ctx.publikasi %}
        <div class="col-sm-6 col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <img src="{{ pub.thumbnail_base64}}" class="img-fluid" alt="PNG">
                    <h5 class="card-title">{{ pub.title }}</h5>
                    <p class="card-text">{{ pub.content }}</p>
                </div>
                <div class="card-footer small d-flex justify-content-between">
                    <span>{{ pub.sampling }}</span>
                    <span class="text-right">
                        {%- if pub.filename %}
                        <a href="/static/pub/{{ pub.filename }}">Download</a>
                        {%- else %}
                        Download
                        {%- endif %}
                    </span>
                </div>
            </div>
        </div>
        {%- else %}
        <p>Tidak ada Publikasi pada rentang waktu terpilih.</p>
        {%- endfor %}

    </div>
</div>
{%- endblock %}
