{% extends 'base.html' %}
{% block title %}Download: BBWS Citanduy{% endblock %}
{% block page_desc %}Download Data BBWS Citanduy{% endblock %}
{% block content %}
<h2 class="border-start border-5 border-primary ps-2 fw-lighter mb-3">Download</h1>
    <div class="row">
        <div class="col-sm-6 mt-2">
            <h4><i class="bi bi-water me-2"></i> Data Tinggi Muka Air (Manual)</h4>
            <ol class="list-group list-group-numbered">
                {% for p in ctx.pdas %}
                <li class="list-group-item">
                    {{ p.nama }} <a href="#" onClick="dl({{ p.id }}, '{{ p.nama }}')" class="float-end link-underline-light"><i class="bi bi-download"></i> {{ p.count }} data</a>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-sm-6 mt-2">
            <h4><i class="bi bi-cloud-rain me-2"></i> Data Curah Hujan (Manual)</h4>
            <ol class="list-group list-group-numbered">
            {% for p in ctx.pchs %}
                <li class="list-group-item">{{ p.nama }}  <a href="#" onClick="dl({{ p.id }}, '{{ p.nama }}')" class="float-end link-underline-light"><i class="bi bi-download"></i> {{ p.count }} data</a>
                </li>
            {% endfor %}
            </ol>
        </div>
    </div>    
{% endblock %}
{% block js_foot %}
<script>
    const dl = async (pos_id, nama) => {
        let form = new FormData();
        form.append('pos_id', pos_id);
        const resp = await fetch('/download', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token() }}',
            },
            body: form
        });
        if (!resp.ok) {
            console.log('error response');
        }
        let data = await resp.text();
        const file = new Blob([data], {type: 'text/csv'});
        const link = document.createElement('a');
        link.href = URL.createObjectURL(file);
        link.download = nama.replaceAll(' ', '_');
        link.click();
        URL.revokeObjectURL(link.href);
    }
</script>
{% endblock %}