{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <h2 class="border-start border-5 border-primary ps-2 fw-lighter">Data Logger (<b>{{ ctx.poses|length}}</b>)</h2>
  </div>
</div>
  <div class="table-responsive">
  <table id="rpos" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th onClick="sortTable('rpos', 0)">Nama</th>
            <th>Pos Hidrologi</th>
            <th>Tipe</th>
            <th onClick="sortTable('rpos', 3)">Data Terakhir</th>    
            <th>Penyedia</th>
        </tr>
    </thead>
    <tbody>
    {% for p in ctx.poses %}
        <tr>
            <td>{{ p.nama }} 
              <div class="dropdown float-end">
                <a class="icon-link" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Hapus</a></li>
                </ul>
              </div>
            <td>{{ p.pos.nama }}</td>
            <td><span class="{% if p.tipe in ('Rain Fall', 'PCH') %}badgepch{% else %}badgepda{% endif %}">{{ p.tipe }}</span></td>
            <td><span class="timeago" datetime="{{ p.latest_sampling }}">{{ p.latest_sampling }}</span></td>
            {% if p.source == 'SA' %}
            <td><span class="mt-2 me-2 float-start dot-{{ p.source|lower }}"></span> Arindo</td> 
            {% elif p.source == 'SB' %}
            <td><span class="mt-2 me-2 float-start dot-{{ p.source|lower }}"></span> Komtronik</td>
            {% else %}
            <td><span class="mt-2 me-2 float-start dot-{{ p.source|lower }}"></span> Luwes</td>
            {%endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% block js_foot %}
<script>
  document.querySelectorAll('.timeago').forEach(e => { 
    /*
    > 1 tahun
    > 1 bulan
    > 1 minggu
    > 1 jam
    */
    const ls = e.getAttributeNode('datetime').value;
    const now = new Date();
    console.log('Selisih: ', now - new Date(ls), ls);
    if (now - new Date(ls) > 3600000) {
      e.classList.add('text-danger');
    } 
    if (new Date(ls) > now) {
      e.innerHTML = dayjs(ls).fromNow();
      
      console.log(ls);
    } else {
      e.innerHTML = dayjs().from(dayjs(ls));
    }
  });
function sortTable(tableid, n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById(tableid);
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}