<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Peta Wilayah Sungai Citanduy">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <title>Peta Sungai BBWS Citanduy</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <style>
      img.pda { filter: hue-rotate(120deg); }

      #mymap {height: 89vh; width: 100%}
      .go-up {
        display: inline-block;
      }
      .go-down {
        display: inline-block;
        transform: rotate(180deg);
      }
      #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: block;
      }
    </style>
  </head>
  <body style="padding-top: 60px;">
    <header style="z-index: 999" class="bg-light text-white">
      <div class="container-fluid">
      {% include '_navbar.html' %}
      </div>
    </header>
    <div class="w-100" id="mymap"></div>
    <!-- Back to top button -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
   <script>
      async function loadDas(lDas) {
        let resp = await fetch('/static/js/citanduy.json');
        let das = await resp.json();
        lDas.addData(das);
        map.fitBounds(lDas.getBounds());
      }

      let pdas = [{% for p in ctx.pos_da %}{% if p.ll %}{name: '{{p.nama}}', ll: [{{ p.ll or 0 }}], elevasi: {{ p.elevasi or 0 }}, orde: {{ p.orde or 0 }}, sungai: '{{ p.sungai or '-'}}' },{% endif %}{% endfor %}];
      let map = L.map('mymap');

      let pda_group = L.featureGroup().addTo(map);

      //let all_poses = L.featureGroup().addTo(map);
      //let listPda = [];
      const onEachFeature = (feature, layer) => {
        //let popUpContent = `<p>${feature.properties.TOPONIMI}</p>`;
        //layer.bindPopup(popUpContent);
      }

      const dasStyle = (geoJsonFeature) => {
        return {weight: 1, fillOpacity: 0}
      }

      let lDas = L.geoJSON(null, {onEachFeature: onEachFeature, style: dasStyle}).addTo(map);
      loadDas(lDas);
      let pdaOpt = {interactive: true, pane: 'markerPane'};
      const ordeColor = ['#888888', '#1f56b5', '#3e83fa', '#9de5fc']
      for (let i =0; i < pdas.length; i++) {
        pdaOpt.color = ordeColor[pdas[i].orde];
        let marker = L.circleMarker(pdas[i].ll, pdaOpt);
        let cnt = `<div>
              <h5>${pdas[i].name} <span class="text-secondary">(+${pdas[i].elevasi} mdpl)</span>
              </h5>
              <h6 class="text-secondary">Sungai ${pdas[i].sungai} (orde: ${pdas[i].orde})</h6>
              <h6 class="text-secondary">{{ ctx.s.strftime('%d %b %Y') }}</h6>
              <p><b class="text-secondary">Telemetri</b><br>
                  
              &nbsp;vendor</p>
              <p><b class="text-secondary">Manual</b><br>&nbsp;Sejak: <b></b></br>
              &nbsp;Tertinggi: </p>
              <p>
                  <a class="card-link" href="/pda/${pdas[i].id}">Hari ini</a> | <a href="/pch/${pdas[i].id}/{{ ctx.s.strftime('%Y/%m')}}">Bulan Ini</a> | <a href="/pda/${pdas[i].id}">Tahun</a>
              </p>
              </div>`;
        marker.bindPopup(cnt);
        marker.addTo(pda_group);
      }
      //let lPda = L.layerGroup(listPda);
      //lPda.addTo(map);
      loadDas(lDas);
/*
      let posMap = {"Daerah Aliran Sungai": lDas};

      let layerControl = L.control.layers(null, posMap).addTo(map);
      */
      //layerControl.expand();
      //console.log(layerControl.getContainer());

      //let myControl = L.control.layers(null, {"Hello": L.DivOverlay({collapsed: false})}).addTo(map)

      

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoid2lkb3lvIiwiYSI6ImNsNG1kcGFucTFicWUza21uMmJudTRkd3AifQ.-AhfUIYwXDOIwfD6nVFxxw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11'
        }).addTo(map);
    </script>
  </body>
</html>
