{% extends 'base.html' %}
{% block content %}
<form action="">

</form>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Pos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.username }}
                <details class="dropdown" style="float: right">
                    <summary role="foo" class="secondary">&middot;&middot;&middot;</summary>
                    <ul>
                      <li><a href="/password">Atur Password</a></li>
                      <li><a href="/rpos">Non Aktifkan</a></li>
                    </ul>
          
                  </details>
            </td>
            <td>{% if not u.is_admin %}{{ u.pos.nama }}{% else %}Kantor{% endif %}</td>
            <td>{{ u.last_login.strftime('%d %b %Y %H:%M:%S') }}</td>
            
        </tr>
        {% else %}
        <tr>
            <td colspan="3">Belum ada User terdaftar</td>
        </tr>
        {% endfor %}        
    </tbody>
</table>
{% endblock %}