{% extends 'base.html' %}
{% block page_description %}Data Muka Air Terbaru Seluruh Pos{% endblock %}
{% block title %}Data Muka Air Terbaru Seluruh Pos BBWS Citanduy{% endblock %}

{% block content %}
<h2 class="border-start border-5 border-danger ps-2 fw-lighter">Data Muka Air (<b>{{ ctx.pdas|length}}</b>)</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="text-end mb-3">
            <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%d')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%d')}}</span> {{ ctx.sampling.strftime('%b') }} 
            {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%d')}}</a>
            {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
        </div>
        <small class="text-secondary">satuan Centimeter (cm)<small class="ms-3"> <span class="dot-sa"></span> Arindo, <span class="dot-sb"></span> Komtronik, <span class="dot-sc"></span> Luwes</small>
        <small class="ms-2">Orde Sungai: <i class="ms-1 me-1 dot dot-orde-1"></i> 1, <i class="ms-2 me-1 dot dot-orde-2"></i> 2, <i class="ms-2 me-1 dot dot-orde-3"></i> 3</small>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2" class="text-center">Nama</th>
                        <th rowspan="2" class="text-center">Sungai</th>
                        <th colspan="2" class="text-center">Pagi</th>
                        <th colspan="2" class="text-center">Siang</th>
                        <th colspan="2" class="text-center">Sore</th>
                        <th colspan="3" class="text-center">Telemetri Terakhir</th>
                    </tr>
                    <tr>
                        <th style="background-color:#D7FBC1;">Manual</th>
                        <th style="background-color:#F1F1F1;">Telemetri</th>
                        <th style="background-color:#D7FBC1;">Manual</th>
                        <th style="background-color:#F1F1F1;">Telemetri</th>
                        <th style="background-color:#D7FBC1;">Manual</th>
                        <th style="background-color:#F1F1F1;">Telemetri</th>
                        <th style="background-color:#F1F1F1;">Waktu</th>
                        <th style="background-color:#F1F1F1;">TMA (Cm)</th>
                        <th style="background-color:#F1F1F1;">Debit (M<sup>3</sup>/Dtk)</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for p in ctx.pdas %}
                <tr>
                    <td><a href="/pda/{{ p.id }}/{{ ctx.sampling.strftime('%Y/%m')}}">{{ p.nama }}</a> {% if p.elevasi %}{% endif %}
                        <div>
                            {% if p.sh %}<span data-sh="{{ p.sh|int }}" style="font-size:8pt;border-radius: 10%; padding: 2px; background-color: rgb(32, 255, 32);">{{ p.sh|int }}</span>{% endif %}
                            {% if p.sk %}<span data-sk="{{ p.sk|int }}" style="font-size:8pt;border-radius: 10%; padding: 2px; background-color: rgb(214, 193, 54);">{{ p.sk|int }}</span>{% endif %}
                            {% if p.sm %}<span data-sm="{{ p.sm|int }}" style="font-size:8pt;border-radius: 10%; padding: 2px; background-color: rgb(255, 32, 32);" class="text-light">{{ p.sm|int }}</span>{% endif %}
                        </div>
                    </td>
                    <td><span class="text-orde-{{ p.orde }}">{{ p.sungai }}</span></td>
                    <td class="text-end tma-val" style="background-color:#D7FBC1;">{{ p.m_tma_07 }}</td>
                    <td class="text-end tma-val" style="background-color:#F1F1F1;"><span class="mt-2 float-start dot-{{ p.source|lower }}"></span>{{ p.tma_07 }}</td>
                    <td class="text-end tma-val" style="background-color:#D7FBC1;">{{ p.m_tma_12}}</td>
                    <td class="text-end tma-val" style="background-color:#F1F1F1;"><span class="mt-2 float-start dot-{{ p.source|lower }}"></span>{{ p.tma_12}}</td>
                    <td class="text-end tma-val" style="background-color:#D7FBC1;">{{ p.m_tma_17}}</td>
                    <td class="text-end tma-val" style="background-color:#F1F1F1;"><span class="mt-2 float-start dot-{{ p.source|lower }}"></span>{{ p.tma_17}}</td>
                    <td>{% if p.latest_sampling %}{{ p.latest_sampling[11:16] }}{% endif %}</td>
                    <td class="text-end tma-val">{{ p.latest_tma }}</td>
                    <td class="text-end">{% if p.debit %}{{ "%.2f"|format(p.debit.real) }}{% else %}-{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
</div>
{% endblock %}
{% block js_foot %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const rows = document.querySelectorAll('.table-group-divider tr');
        rows.forEach((row, i) => {
            const smRef = row.querySelector('[data-sm]');
            const skRef = row.querySelector('[data-sk]');
            const shRef = row.querySelector('[data-sh]');
            const tmaVals = row.querySelectorAll('.tma-val');

            tmaVals.forEach(tmaVal => {
                const tma = parseFloat(tmaVal.textContent);
                let siaga = '';
                if (shRef) {
                    if (parseInt(shRef.textContent) < tma) {
                        siaga = 'rgb(32, 255, 32)';
                    }
                }
                if (skRef) {
                    if (parseInt(skRef.textContent) < tma) {
                        siaga = 'rgb(214, 193, 54)';
                    }
                } 
                if (smRef) {
                    if (parseInt(smRef.textContent) < tma) {
                        siaga = 'rgb(255, 32, 32)';
                    }
                }
                if (siaga !== '') {
                    tmaVal.style.backgroundColor = siaga;
                }
                
            })

        });
    });    
</script>
{% endblock %}