{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="fw-lighter">{{ ctx.pos.nama|replace('PDA ', '') }} <small class="fs-6 fw-normal badge rounded-pill" style="background-color: var(--bs-orange)">PDA</small> <small class="ms-3 fs-5 text-secondary">Sungai {{ ctx.pos.sungai }}</small></h1>
        <a href="#note-box" aria-controls="note-box" class="text-secondary me-2" data-bs-toggle="collapse" role="button" aria-expanded="false"><i class="bi bi-chat-left-text pe-2"></i> {{ ctx.notes|length }} catatan</a>
        <div class="collapse" id="note-box">
          <div class="card card-body">
            {% include "note/_form.html" %}
            <hr>
            {% for note in ctx.notes %}
            <li>{{ note.obj_name }} {{ note.msg }} <span class="text-secondary" style="font-size: 10pt;"><i class="bi bi-person"></i> {{ note.username }} <i class="bi bi-clock"></i> {{ note.cdate.strftime('%d %b %Y %H:%M') }}</span></li>
            {% else %}
            <p><i>Tidak ada catatan.</i></p>
            {% endfor %}
          </div>
        </div>
    </div>
    <div class="col text-end">
        <div class="btn-group end-0" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary disabled">Sehari</button>
            <a href="/pda/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y/%m') }}" role="button" class="btn btn-outline-primary">Sebulan</a>
          </div>
    
    </div>
</div>
<div class="row">
  <div class="col-sm-6"><a href="/pda"><h2><i class="bi bi-arrow-left"></i></h2></a></div>
  <div class="col-sm-6">
    <div class="text-end mb-3">
      <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%d')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%d')}}</span> {{ ctx.sampling.strftime('%b') }} 
      {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%d')}}</a>
      {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-10">
        <canvas id="myChart"></canvas>
  </div>
  <div class="col-sm-2">
    {% for p in ctx.pchs %}
    <li>{{ p.nama }}</li>
    {% endfor %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  let msgBox = document.getElementById('msg');
  let submit = document.getElementById('msgSubmit')
  msgBox.addEventListener("input", () => {
    submit.disabled = msgBox.value.length < 5;
  });
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    data: {
      labels: [{% for jam in range(24) %}{{ jam }}, {% endfor %}],
      datasets: [{
        type: 'line',
        label: 'Telemetri',
        data: [{% for jam, t in ctx.pos.telemetri.items() %}{{ t.wlevel }}, {% endfor %}],
        backgroundColor: 'rgb(0,191,255)',
        borderColor: 'rgb(0,191,255)',
        borderWidth: 1
      },{
        type: 'bar',
        label: 'Banyak Data',
        data: [{% for jam, t in ctx.pos.telemetri.items() %}{{ t.num }}, {% endfor %}],
        backgroundColor: 'rgba(211, 211, 211, 0.5)',
        borderWidth: 0
      },
      {
        type: 'line',
        label: 'Manual',
        data: [{% for jam, m in ctx.pos.manual.items() %}{% if jam in ('07', '12', '17') %}{'x': {{jam}}, 'y': '{{m}}'}, {% endif %}{% endfor %}],
        backgroundColor: 'rgba(253, 126, 32, 0.5)',
        borderWidth: 0
      },
      {
        type: 'bar',
        label: 'Curah Hujan',
        yAxisID: 'yrain',
        reverse: true,
        data: []
      }
    ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          font: {
            size: '24pt',
            weight: 'lighter'
          },
          text: 'Tinggi Muka Air {{ ctx.sampling.strftime('%d %b %Y') }}',
        },

      },
      scales: {
        x: {
          title: {
            display: true,
            text: 'Jam',
            align: 'end',
            font: {
              size: '14pt'
            }
          }
        },
        y: {
          position: 'right',
          beginAtZero: true,
          title: {
            display: true,
            text: 'TMA (cm)'
          }
        },
        yrain: {
          grid: {
            display: false
          },
          title: {
            display: true,
            text: 'Hujan (mm)',
          },
          reverse: true,
          max: 100
        }
      }
    }
  });
</script>
 

{% endblock %}