{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="fw-lighter">{{ ctx.pos.nama|replace('PDA ', '') }} <small class="fs-6 fw-normal badge rounded-pill" style="background-color: var(--bs-orange)">PDA</small> <small class="ms-3 fs-5 text-secondary">Sungai {{ ctx.pos.sungai }}</small></h1>
    </div>
    <div class="col text-end">
        <div class="btn-group end-0" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary disabled">Sehari</button>
            <a href="/pda/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y/%m') }}" role="button" class="btn btn-outline-primary">Sebulan</a>
          </div>
    
    </div>
</div>
<div class="row">
  <div class="col-sm-6"><a href="/pda"><h2><i class="bi bi-arrow-left"></i></h2></a></div>
  <div class="col-sm-6">
    <div class="text-end mb-3">
      <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%d')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%d')}}</span> {{ ctx.sampling.strftime('%b') }} 
      {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%d')}}</a>
      {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-10">
        <canvas id="myChart"></canvas>
  </div>
  <div class="col-sm-2">
    {% for p in ctx.pchs %}
    <li>{{ p.nama }}</li>
    {% endfor %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    data: {
      labels: [{% for jam in range(24) %}{{ jam }}, {% endfor %}],
      datasets: [{
        type: 'line',
        label: 'Telemetri',
        data: [{% for jam, t in ctx.pos.telemetri.items() %}{{ t.wlevel }}, {% endfor %}],
        fillColor: '#F1F1F1'
      },
      {
        type: 'line',
        label: 'Manual',
        data: [{% for jam, m in ctx.pos.manual.items() %}{% if jam in ('07', '12', '17') %}{'x': {{jam}}, 'y': '{{m}}'}, {% endif %}{% endfor %}],
        fillColor: '#D7FBC1'
      },
      {
        type: 'bar',
        label: 'Curah Hujan',
        yAxisID: 'yrain',
        reverse: true,
        data: []
      }
    ]
    },
    options: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Jam',
            align: 'end',
            font: {
              size: '14pt'
            }
          }
        },
        y: {
          position: 'right',
          beginAtZero: true,
          title: {
            display: true,
            text: 'TMA (cm)'
          }
        },
        yrain: {
          grid: {
            display: false
          },
          title: {
            display: true,
            text: 'Hujan (mm)',
          },
          reverse: true,
          max: 100
        }
      }
    }
  });
</script>
 

{% endblock %}