{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="fw-lighter">{{ ctx.pos.nama[4:] }} <small class="fs-6 fw-normal badge rounded-pill" style="background-color: var(--bs-orange)">PDA</small> <small class="ms-3 fs-5 text-secondary">Sungai {{ ctx.pos.sungai }}</small></h1>
    </div>
    <div class="col text-end">
        <div class="btn-group end-0" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">Sehari</button>
            <button type="button" class="btn btn-outline-primary">Sebulan</button>
            <button type="button" class="btn btn-outline-secondary disabled">Setahun</button>
          </div>
    
    </div>
</div>
{% endblock %}