{% extends 'base.html' %}
{% block title %}Catatan BBWS Citanduy{% endblock %}
{% block content %}
<h2 class="border-start border-5 border-primary ps-2 fw-lighter">Catatan</h1>
    <p class="text-secondary">Error?, keliru?, sekedar tahu? <b>Catat di sini</b></p>
<div class="row">
    <div class="col-sm-10">
        {% for msg in ctx.msgs %}
        <li class="list-group-item py-3 lh-sm">
            <a href="{{ msg.obj_url() }}" class="text-secondary">{{ msg.__str__() }}</a>
            {{ msg.msg }}
            <p class="text-secondary float-right ms-2">{{ msg.username }} {{ msg.cdate.strftime('%d %b %Y %H:%M') }}</p>
        </li>
        {% else %}
        <div>Kosong</div>
    </div>
</div>
{% endfor %}
    <div class="col-sm-2"></div>
</div>
{% endblock %}