{% extends 'base.html' %}
{% block content %}
<h2 class="border-start border-5 border-primary ps-2 fw-lighter">Pos Curah Hujan (<b>{{ pchs|length }}</b>)</h1>

<div class="row">
    <div class="col-10">
        <div class="text-end mb-3">
            <a href="?s={{ _sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-secondary me-5">{{ _sampling.strftime('%d')}}</a> <span class="fs-3">{{ sampling.strftime('%d')}}</span> {{ sampling.strftime('%b') }} 
            {% if sampling_ %}<a class="btn btn-outline-secondary ms-5" href="?s={{ sampling_.strftime('%Y-%m-%d')}}">{{ sampling_.strftime('%d')}}</a>
            {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr class="bg-secondary">
                    <th class="bg-light fw-lighter">Nama</th>
                    <th class="bg-light fw-lighter">Pagi</th>
                    <th class="bg-light fw-lighter">Siang</th>
                    <th class="bg-light fw-lighter">Sore</th>
                    <th class="bg-light fw-lighter">Malam</th>
                    <th class="bg-light fw-lighter" style="background-color:#F1F1F1">Telemetri</th>
                    <th class="bg-light fw-lighter" style="background-color: #D7FBC1;">Manual</th>
                </tr>
            </thead>
            <tbody>
            {% for p in pchs %}
                <tr>
                    <td><a href="/pch/{{ p.id }}" class="text-decoration-none">{{ p.nama }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="background-color:#F1F1F1"></td>
                    <td class="text-end" style="background-color: #D7FBC1;">
                        {{ p.ch }}
                </tr>
            {% else %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2">
    </div>
</div>
<script>
    function UpSertManual(id) {
        return {
            formData: {
                sampling: "{{ sampling.strftime('%Y-%m-%d') }}",
                ch: 0,
                pos_id: id,
            },
            cnt: "...",
            openForm() {
                this.cnt = `<form @submit.prevent='submitForm'>
                    <input type='text' name='ch' size='3' style='text-align:right' x-model='formData.ch'>
                    <input type='submit' value='&gt;' class='ms-2 px-3'>
                    </form>`;
            },
            times: {
                ['@click']() {
                    console.log('close');
                    this.closeForm();
                }
            },
            submitForm() {
                fetch('/pos/'+id+'/manual', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token() }}",
                        Accept: "application/json"
                    },
                    body: JSON.stringify(this.formData),
                }).then((e) => {
                    console.log('sukses');
                    console.log(e);
                }).catch((e) => {
                    console.log('error');
                    console.log(e);
                });
            }, 
            closeForm() {
                this.cnt = '<span>...</span>';
            },

        }
    }
</script>
{% endblock %}