{% extends 'base.html' %}
{% block content %}
<h2 class="border-start border-5 border-primary ps-2 fw-lighter">Pos Curah Hujan (<b>{{ ctx.pchs|length }}</b>)</h1>
<div class="row">
    <div class="col-sm-10">
        <div class="text-end mb-3">
            <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%d')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%d')}}</span> {{ ctx.sampling.strftime('%b') }} 
            {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%d')}}</a>
            {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="table-responsive">
        <small class="text-secondary">satuan Milimeter (mm)</small>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr class="bg-secondary">
                    <th style="background-color: var(--bs-info-bg-subtle)">Nama</th>
                    <th style="background-color: var(--bs-info-bg-subtle)">Manual</th>
                    <th style="background-color: var(--bs-info-bg-subtle)">Telemetri</th>
                    <th>Vendor & Data</th>
                    <th class="text-center" style="background-color: var(--bs-info-bg-subtle)">
                        Pagi <br><small>07-13</small>
                    </th>
                    <th class="text-center" style="background-color: var(--bs-info-bg-subtle)">
                        Siang-Sore <br><small>13-19</small>
                    </th>
                    <th class="text-center" style="background-color: var(--bs-info-bg-subtle)">
                        Malam <br><small>19-01</small>
                    </th>
                    <th class="text-center" style="background-color: var(--bs-info-bg-subtle)">
                        Dini Hari <br><small>01-07</small>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for k, pchs in ctx.wilayah.items() %}
                <tr>
                    <th colspan="8"><i><b style="letter-spacing: 0.1rem;">Kabupaten {{ k }} ({{ pchs|length }})</b></i></th>
                </tr>
                {% for p in pchs %}
                <tr>
                    <td><a href="/pch/{{ p.id }}" class="ms-3 text-decoration-none">{{ p.nama[4:] }}</a> <small>{{ p.kab }}</small></td>
                    <td class="text-end" style="background-color: #D7FBC1;">{{ p.m_ch }}</td>
                    <td class="text-end" style="background-color:#F1F1F1">{% if p.ch %}
                        {{ p.ch|round(1) }}{% endif %}</td>
                    <td class="text-end">{% if p.ch %}<span class="badge rounded-pill text-bg-info float-start text-light">{{ p.source[-1:] }}</span> {{ p.sehat|round(1) }}{% endif %}</td>
                    <td class="text-end">{% if p.pagi %}{{ p.pagi|round(1) }}{% endif %}</td>
                    <td class="text-end">{% if p.siang %}{{ p.siang|round(1) }}{% endif %}</td>
                    <td class="text-end">{% if p.malam %}{{ p.malam|round(1) }}{% endif %}</td>
                    <td class="text-end">{% if p.dini %}{{ p.dini|round(1) }}{% endif %}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-sm-2">
        <small class="fw-bold">Skala Curah Hujan per&nbsp;hari (24 jam)</small>
        <table class="table table-sm" style="font-size: 0.8rem;">
            <tr>
            <td>100&nbsp;-&nbsp;150</td><th style="color: rgb(255, 32, 32)">Hujan Sangat Lebat</th>
            </tr>
          <tr>
            <td>50 - 100</td><th style="color: rgb(255, 165, 0)">Hujan Lebat</th>
          </tr>
          <tr>
            <td>20 - 50</td><th style="color: rgb(214, 193, 54)">Hujan Sedang</th>
          </tr>
          <tr>
            <td>0,5 - 20</td><th style="color: rgb(32, 255, 32)">Hujan Ringan</th>
          </tr>
        </table>      
      </div>
</div>
{% endblock %}