{% extends 'base.html' %}
{% block title %}Data Hujan Sebulan {{ ctx.pos.nama|replace('PCH ', '') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="dropdown d-inline">
            <a class="fw-lighter dropdown-toggle text-decoration-none" href="#" id="posDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {{ ctx.pos.nama|replace('PCH ', '') }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="posDropdown">
                {% for pos in ctx.all_pos %}
                <li>
                    <a class="dropdown-item" href="/pch/{{ pos.id }}/{{ ctx.sampling.strftime('%Y/%m') }}">
                        {{ pos.nama|replace('PCH ', '') }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <small class="fs-6 fw-normal badge rounded-pill text-bg-info text-light">PCH</small>
            <small class="ms-3 fs-5 text-secondary">{{ ctx.pos.kabupaten }}</small>
        </div>
    </div>
    <div class="col text-end">
        <div class="btn-group end-0" role="group" aria-label="Basic outlined example">
            <a  href="/pch/{{ ctx.pos.id }}" role="button" class="btn btn-outline-primary">Sehari</a>
            <a disabled href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y/%m') }}" role="button" class="btn btn-outline-secondary">Sebulan</a>
            <a href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y') }}" role="button" class="btn btn-outline-primary">Setahun</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-end mb-3">
            <a href="/pch/{{ ctx.pos.id }}/{{ ctx._sampling.strftime('%Y/%m')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%b')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%b %Y')}}</span> 
            {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling_.strftime('%Y/%m')}}">{{ ctx.sampling_.strftime('%b')}}</a>
            {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
        </div>
    
    </div>
</div>
<div class="row">
<div class="col-sm-9">
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-sm-3">
      <table class="table table-bordered table-hover table-striped">
        <tr>
          <td>&nbsp;</td>
          <td><i class="bi bi-person-raised-hand text-success"></i> Man</td>
          <td><i class="bi bi-cpu"></i> Tele</td>
        </tr>
        <tr>
          <td><small style="font-size:smaller" class="text-secondary">Jumlah Hujan (mm)</small></td>
          <td id="msumrain" class="text-end" style="background-color:#D7FBC1;"></td>
          <td id="sumrain" class="text-end" style="background-color:#F1F1F1;"></td>
        </tr>
        <tr>
          <td><small style="font-size:smaller" class="text-secondary">Hujan Maks (mm)</small></td>
          <td id="mmaxrain" class="text-end" style="background-color:#D7FBC1;"></td>
          <td id="maxrain" class="text-end" style="background-color:#F1F1F1;"></td>
        </tr>
        <tr>
          <td><small style="font-size:smaller" class="text-secondary">HTH (hari)</small></td>
          <td id="mhth" class="text-end" style="background-color:#D7FBC1;"></td>
          <td id="hth" class="text-end" style="background-color:#F1F1F1;"></td>
        </tr>
      </table>
<h6>Curah Hujan {{ ctx.sampling.strftime('%b %Y')}}</h6>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="font-size:smaller">Tgl</th>
            <th style="font-size:smaller">CH Man</th>
            <th style="font-size:smaller">CH Tele</th>
            <th style="font-size:smaller"># Data</th>
        </tr>
    </thead>
    <tbody>
        {% for d, v in ctx.days.items() %}
        <tr>
            <td class=""><a href="/pch/{{ ctx.pos.id}}?s={{ ctx.sampling.strftime('%Y-%m-') }}{{ d }}" class="text-decoration-none">{{ d }} {{ ctx.sampling.strftime("%b")}}</a></td>
            <td class="text-end mrain" style="background-color:#D7FBC1;">{{ v.mrain}}</i></td>
            <td class="text-end rain" style="background-color:#F1F1F1;">{{ v.rain|round(1, 'ceil') }}</td>
            <td class="text-end">{{ v.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for d, v in ctx.days.items() %}{{d}},{% endfor %}],
      datasets: [{
        label: 'CH Telemetri',
        backgroundColor: 'rgb(0,191,255)',
        data: [{% for d, v in ctx.days.items() %}{{v.rain}},{% endfor %}],
        borderWidth: 0,
        yAxisID: 'ytelemetri'
      },
      {
        label: 'Banyak Data',
        backgroundColor: 'rgba(211, 211, 211, 0.5)',
        data: [{% for d, v in ctx.days.items() %}{{v.count}},{% endfor %}],
        borderWidth: 0,
        yAxisID: 'ycount'
      },
      {
        label: 'CH Manual',
        data: [{% for d, v in ctx.days.items() %}{{v.mrain}},{% endfor %}],
        backgroundColor: '#D7FBC1',
        borderWidth: 0,
        yAxisID: 'ymanual'
      }]
    },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Hujan per Hari',
                font: {
                    size: '32pt',
                    weight: 'lighter'
                }
            }
        },
      scales: {
        x: {
          title: {
            display: true,
            text: 'Tanggal',
            align: 'end',
            font: {
              size: '14pt'
            }
          }
        },
        ytelemetri: {
            title: {
            display: true,
            text: 'mm',
            align: 'end',
            font: {
                size: '18pt',
            }
          },
          max: 200
        },
        ycount: {
            grid: {
            display: false
          },
          position: 'right',
          max: 288,
            title: {
                text: 'banyak data',
                display: true,
                align: 'end'
            }
        },
        ymanual: {
            display: false,
            max: 200
        }
      }
    }
  });

  summarized();

  function summarized() {
    const elmrain = document.getElementsByClassName('mrain');
    let mrains = Array.from(elmrain).map(m => parseFloat(m.textContent));
    let sum_mrains = mrains.reduce((a, c) => a + c, 0);
    let el = document.getElementById('msumrain');
    el.textContent = sum_mrains.toFixed(0);
    let max_mrain = mrains.length ? Math.max(...mrains): '-';
    el = document.getElementById('mmaxrain');
    el.textContent = max_mrain.toFixed(0);
    let mhth = (mrains.filter(rain => rain === 0)).length;
    el = document.getElementById('mhth');
    el.textContent = mhth;

    const elrain = document.getElementsByClassName('rain');
    const rains = Array.from(elrain).map(m => parseFloat(m.textContent));
    const sum_rains = rains.reduce((a, c) => a + c, 0);
    const max_rain = rains.length ? Math.max(...rains) : '-';
    const hth = (rains.filter(rain => rain <= 0.5)).length;
    el = document.getElementById('sumrain');
    el.textContent = sum_rains.toFixed(0);
    el = document.getElementById('maxrain');
    el.textContent = max_rain;
    el = document.getElementById('hth');
    el.textContent = hth;
  }
</script>
 

{% endblock %}