{% extends 'base.html' %}
{% block title %}Pos Curah Hujan {{ ctx.pos.nama|replace('PCH ', '') }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="fw-lighter">{{ ctx.pos.nama|replace('PCH ', '') }} 
          <small class="fs-6 fw-normal badge rounded-pill text-light text-bg-info">PCH</small>
          <small class="fs-5 text-secondary">{{ ctx.pos.kabupaten }}</small>
        </h1>
        <a href="#note-box" aria-controls="note-box" ="text-secondary me-2" data-bs-toggle="collapse" role="button" aria-expanded="false"><i class="bi bi-chat-left-text pe-2"></i> {{ ctx.notes|length }} catatan</a>
        <div class="collapse" id="note-box">
          <div class="card card-body">
            {% include "note/_form.html" %}
            <hr>
            {% for note in ctx.notes %}
            <li>{{ note.obj_name }} {{ note.msg }} <span class="text-secondary">{{ note.username }} - {{ note.cdate.strftime('%H:%M') }}</span></li>
            {% else %}
            <p><i>Tidak ada catatan.</i></p>
            {% endfor %}
          </div>
        </div>
</div>
    <div class="col text-end">
        <div class="btn-group end-0" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-secondary disabled">Sehari</button>
            <a href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y/%m') }}" role="button" class="btn btn-outline-primary">Sebulan</a>
            <a href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y') }}" role="button" class="btn btn-outline-primary">Setahun</a>
          </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <a href="/pch"><h2><i class="bi bi-arrow-left"></i></h2></a>
  </div>
  <div class="col-sm-6">
    <div class="text-end mb-3">
      <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%d')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%d')}}</span> {{ ctx.sampling.strftime('%b %Y') }} 
      {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%d')}}</a>
      {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <canvas id="myChart"></canvas>
  </div>
  <div class="col-sm-3 mt-3">
    <div class="text-center">
        <div class="small opacity-75">Telemetri | Manual<br>
        <b>{{ ctx.this_day._rain().rain24|round(1) if ctx.this_day else '?' }}</b> mm
        | <b>{{ ctx.pos.manual.ch if ctx.pos.manual else '-' }}</b> mm<br>
        <b>{{ ctx.vendors[ctx.this_day.source].nama if ctx.this_day else '-' }}</b>
        | {{ ctx.pos.petugas.nama if ctx.pos.petugas else '-' }}<br>
    </div>
    </div>
    </p>
    <small class="fw-bold">Skala Hujan per&nbsp;Jam</small>
    <table class="table table-sm" style="font-size: 0.8rem;">
        <tr>
        <td style="width:70px;"><span style="color:#fff;border-radius: 10%; padding: 2px; background-color:rgb(255, 32, 32)">&gt; 20</span></td><th>Hujan Sangat Lebat</th>
        </tr>
      <tr>
        <td><span style="border-radius: 10%; padding: 2px; background-color:rgb(255, 165, 0)">10 - 20</span></td><th>Hujan Lebat</th>
      </tr>
      <tr>
        <td><span style="border-radius: 10%; padding: 2px; background-color:rgb(214, 193, 54)">5 - 10</span></td><th>Hujan Sedang</th>
      </tr>
      <tr>
        <td><span style="border-radius: 10%; padding: 2px; background-color:rgb(32, 255, 32)">1 - 5</span></td><th>Hujan Ringan</th>
      </tr>
    </table>      
  </div>

  </div>
</div>
{% endblock %}
{% block js_foot %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.0.1/dist/chartjs-plugin-annotation.min.js"></script>
<script>
  let msgBox = document.getElementById('msg');
  let submit = document.getElementById('msgSubmit')
  msgBox.addEventListener("input", () => {
    submit.disabled = msgBox.value.length < 5;
  });
  
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%if ctx.this_day %}{% for k, r in ctx.this_day._rain().get('hourly').items() %}{% if k == 7 %}'{{ ctx.sampling.strftime("%Y-%m-%d") }} {{k}}'{% elif k== 0 and ctx.sampling_ %}'{{ ctx.sampling_.strftime("%Y-%m-%d") }} {{k}}'{% else %}{{k}} {% endif %},{% endfor %}{% endif %}],
      datasets: [{
        label: 'CH Telemetri',
        backgroundColor: 'rgb(0,191,255)',
        data: [{%if ctx.this_day %}{% for k, r in ctx.this_day._rain().get('hourly').items() %}{{ r.rain }},{% endfor %}{% endif %}],
        borderWidth: 0,
        yAxisID: 'yrain'
      },
      {
        label: 'Banyak Data',
        backgroundColor: 'rgba(211, 211, 211, 0.5)',
        data: [{%if ctx.this_day %}{% for k, r in ctx.this_day._rain().get('hourly').items() %}{{ r.count }},{% endfor %}{% endif %}],
        borderWidth: 0,
        yAxisID: 'ycount'
      }
      ]
    },
    options: {
      plugins: {
        title: {
          display: true,
          font: {
            size: '24pt',
            weight: 'lighter'
          },
          text: 'Hujan per Jam'
        },
        annotation: {
          annotations: {
            line1: {
              type: 'line',
              yMin: 5,
              yMax: 5,
              borderColor: 'rgba(32, 255, 32, 0.5)',
              borderWidth: 10,
            },
            line2: {
              type: 'line',
              yMin: 10,
              yMax: 10,
              borderColor: 'rgba(245, 223, 77, 0.5)',
              borderWidth: 10,
            },
            line3: {
              type: 'line',
              yMin: 20,
              yMax: 20,
              borderColor: 'rgba(255, 165, 0, 0.5)',
              borderWidth: 10,
            },
            line4: {
              type: 'line',
              yMin: 25,
              yMax: 25,
              borderColor: 'rgba(255, 32, 32, 0.2)',
              borderWidth: 90,
            },
            vline1: {
              type: 'line',
              xMin: 9,
              xMax: 9,
              borderColor: 'rgba(255, 99, 132, 0.1)',
              borderWidth: 30,
            },
            vline2: {
              type: 'line',
              xMin: 19,
              xMax: 19,
              borderColor: 'rgba(255, 99, 132, 0.1)',
              borderWidth: 30,
            },
            label5: {
              type: 'label',
              position: 'start',
              xValue: 0,
              yValue: 120,
              content: ''
            }

          }}

      },
      scales: {
        x: {
          title: {
            display: true,
            text: 'Jam',
            align: 'end',
            font: {
              size: '14pt'
            }
          }
        },
        yrain: {
          title: {
            display: true,
            text: 'mm',
            align: 'end',
            font: {
              size: '14pt'
            }
          },
          beginAtZero: true,
          max: 30,
        },
        ycount: {
          grid: {
            display: false
          },
          title: {
            display: true,
            text: '# Data',
            align: 'end',
          },
          position: 'right',
          max: 12
        }
      }
    }
  });
</script>

<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock %}
