{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="fw-lighter">{{ ctx.pos.nama|replace('PCH ', '') }} 
            <small class="fs-6 fw-normal badge rounded-pill text-bg-info text-light">PCH</small>
            <small class="ms-3 fs-5 text-secondary">{{ ctx.pos.kabupaten }}</small>
        </h1>
    </div>
    <div class="col text-end">
        <div class="btn-group end-0" role="group" aria-label="Basic outlined example">
            <a  href="/pch/{{ ctx.pos.id }}" role="button" class="btn btn-outline-primary">Sehari</a>
            <a href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y/%m') }}" role="button" class="btn btn-outline-primary">Sebulan</a>
            <a disabled href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling.strftime('%Y') }}" role="button" class="btn btn-outline-secondary">Setahun</a>
          </div>
    
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-end mb-3">
            <a href="/pch/{{ ctx.pos.id }}/{{ ctx._sampling.strftime('%Y')}}" class="btn btn-outline-primary me-5">{{ ctx._sampling.strftime('%Y')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%Y')}}</span> 
            {% if ctx.sampling_ %}<a class="btn btn-outline-primary ms-5" href="/pch/{{ ctx.pos.id }}/{{ ctx.sampling_.strftime('%Y')}}">{{ ctx.sampling_.strftime('%Y')}}</a>
            {% else %}<button class="btn btn-outline-secondary ms-5">{{ ctx.sampling.strftime('%Y')|int + 1 }}</button>{% endif %}</span>
        </div>
    
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <ul>
            {% for d in ctx.months %}
            <li>{{ d }}</li>
            {% endfor %}
            <br><br>
            {% for d in ctx.this_year %}
            <li>{{ d.sampling }} {{ d.ch }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-4">
        <ol>
            {% for y in ctx.all_year %}
            <li><a href="/pch/{{ ctx.pos.id }}/{{ y.sampling.year }}">{{ y.sampling.year }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}