{% extends 'base.html' %}
{% block content %}
<h2 class="border-start border-5 border-primary ps-2 fw-lighter">Data Harian</h2>
<div class="row mb-3">
    <div class="col text-end">
        <a href="?s={{ _sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-secondary me-5"><i class="bi bi-chevron-left"></i></a> <span class="fs-3">{{ sampling.strftime('%d')}}</span> {{ sampling.strftime('%b') }} 
        {% if sampling_ %}<a class="btn btn-outline-secondary ms-5" href="?s={{ sampling_.strftime('%Y-%m-%d')}}"><i class="bi bi-chevron-right"></i></a>
        {% else %}<button class="btn btn-outline-secondary ms-5" disabled><i class="bi bi-chevron-right"></i></button>{% endif %}</span>        
    </div>
</div>    
<div class="row">
    <div class="col">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th colspan="2" style="color:#398712">Server SDATelemetry.com <span style="font-weight:300;">({{ sa_dailies|length }})</span></th>
                    {% for i in range(24) %}
                    <th class="_24header">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for f in sa_dailies %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><span class="{% if f.tipe == 'PCH' %}badgepch{% else %}badgepda{% endif %}">{{f.tipe}}</span> <a href="/rdaily/{{ f.nama}}/?s={{ sampling.strftime('%Y-%m-%d') }}">{{ f.nama }}</a></td>
                    {% for d, v in f._24jam().items() %}
                    <td class="_24data">{% if v['num'] > 0 %}{{ v['num'] }}{% else %}-{% endif %}</td>
                    {% endfor %}
                </tr>
            {% else %}
            <tr>
                <td colspan="24">Tidak ada data</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th colspan="2" style="color: #FFBF00">Server PoliteknikPolban.duckdns.org:8081 <span style="font-weight:300;">({{ sb_dailies|length }})</span></th>
                    {% for i in range(24) %}
                    <th class="_24header">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for f in sb_dailies %}
                <tr>
                    <td style="width:10px;">{{ loop.index }}</td>
                    <td><span class="{% if f.tipe == 'Rain Fall' %}badgepch{% else %}badgepda{% endif %}">{{f.tipe}}</span> <a href="/rdaily/{{ f.nama}}/?s={{ sampling.strftime('%Y-%m-%d') }}">{{ f.nama }}</a></td>
                    {% for d, v in f._24jam().items() %}
                    <td class="_24data">{% if v['num'] > 0 %}{{ v['num'] }}{% else %}-{% endif %}</td>
                    {% endfor %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="24">Tidak ada data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th colspan="2" style="color: #FFBF00">Server data4.luweswatersensor.com:8002 <span style="font-weight:300;">({{ sc_dailies|length }})</span></th>
                    {% for i in range(24) %}
                    <th class="_24header">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for f in sc_dailies %}
                <tr>
                    <td style="width:10px;">{{ loop.index }}</td>
                    <td><span class="{% if f.tipe == 'Rain Fall' %}badgepch{% else %}badgepda{% endif %}">{{f.tipe}}</span> <a href="/rdaily/{{ f.nama}}/?s={{ sampling.strftime('%Y-%m-%d') }}">{{ f.nama }}</a></td>
                    {% for d, v in f._24jam().items() %}
                    <td class="_24data">{% if v['num'] > 0 %}{{ v['num'] }}{% else %}-{% endif %}</td>
                    {% endfor %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="24">Tidak ada data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
</div>
{% endblock %}
