{% extends 'base.html' %}
{% block content %}
<div class="grid">
    <hgroup>
        <h1>Data Harian</h1>
        <small>Hasil proses data dari server lain</small>    
    </hgroup>
    <div class="grid"><a href="?s={{ _sampling.strftime('%Y-%m-%d') }}">{{ _sampling.strftime('%d') }} &lt;</a> <span>{{ sampling.strftime('%Y-%m-%d') }}</span> {% if sampling_ %}<a href="?s={{ sampling_.strftime('%Y-%m-%d') }}">&gt; {{ sampling_.strftime('%d') }}</a>{% else %}-{% endif %}</div>    
</div>
<table>
    <thead>
        <tr>
            <th colspan="2" style="color:#398712">Server SDATelemetry.com <span style="font-weight:300;">({{ sa_dailies|length }})</span></th>
            {% for i in range(24) %}
            <th class="_24header">{{i}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for f in sa_dailies %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><span class="{% if f.tipe == 'PCH' %}badgepch{% else %}badgepda{% endif %}">{{f.tipe}}</span> <a href="/rdaily/{{ f.nama}}/?s={{ sampling.strftime('%Y-%m-%d') }}">{{ f.nama }}</a></td>
            {% for d, v in f._24jam().items() %}
            <td class="_24data">{% if v['num'] > 0 %}{{ v['num'] }}{% else %}-{% endif %}</td>
            {% endfor %}
        </tr>
    {% else %}
    <tr>
        <td colspan="24">Tidak ada data</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="2" style="color: #FFBF00">Server PoliteknikPolban.duckdns.org:8081 <span style="font-weight:300;">({{ sb_dailies|length }})</span></th>
            {% for i in range(24) %}
            <th class="_24header">{{i}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for f in sb_dailies %}
        <tr>
            <td style="width:10px;">{{ loop.index }}</td>
            <td><span class="{% if f.tipe == 'Rain Fall' %}badgepch{% else %}badgepda{% endif %}">{{f.tipe}}</span> <a href="/rdaily/{{ f.nama}}/?s={{ sampling.strftime('%Y-%m-%d') }}">{{ f.nama }}</a></td>
            {% for d, v in f._24jam().items() %}
            <td class="_24data">{% if v['num'] > 0 %}{{ v['num'] }}{% else %}-{% endif %}</td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="24">Tidak ada data</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="2" style="color: #FFBF00">Server data4.luweswatersensor.com:8002 <span style="font-weight:300;">({{ sc_dailies|length }})</span></th>
            {% for i in range(24) %}
            <th class="_24header">{{i}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for f in sc_dailies %}
        <tr>
            <td style="width:10px;">{{ loop.index }}</td>
            <td><span class="{% if f.tipe == 'Rain Fall' %}badgepch{% else %}badgepda{% endif %}">{{f.tipe}}</span> <a href="/rdaily/{{ f.nama}}/?s={{ sampling.strftime('%Y-%m-%d') }}">{{ f.nama }}</a></td>
            {% for d, v in f._24jam().items() %}
            <td class="_24data">{% if v['num'] > 0 %}{{ v['num'] }}{% else %}-{% endif %}</td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td colspan="24">Tidak ada data</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
