{% extends 'base.html' %}
{% block content %}
<h2>{% if ctx.this_day.tipe in ('Rain Fall', 'PCH') %}<small class="badgepch">{{ this_day.tipe }}</small>{% else %}<small class="badgepda">{{ ctx.this_day.tipe }}</small>{% endif %} {{ ctx.this_day.nama }} - <small>{{ ctx.this_day.sampling.strftime('%d %b') }}</small></h2>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <th>Jam</th>
        <th>Banyak Data</th>
        <th>Rain</th>
        <th>WLevel</th>
    </thead>
    <tbody>
        {% for d, v in ctx.this_day._24jam().items() %}
        <tr>
            <td>{{ d }}</td>
            <td>{{ v['num'] }}</td>
            <td {% if loop.index <  7 %}style="background-color:#eee;"{% endif %}>{% if v['rain'] > 0 %}{{ v['rain'] }}{% else %}-{% endif %}</td>
            <td>{% if v['wlevel'] > 0 %}{{ v['wlevel'] }}{% else %}-{% endif %}</td>      
        </tr>
        {% endfor %}        
    </tbody>
</table>
{% endblock %}
{% block js_foot %}
<script>
    let out = {{ ctx.this_day.raw|safe }};
    let raw = document.getElementById('raw')
    raw.innerText = JSON.stringify(out, null, 2);
</script>
{% endblock %}