{% extends 'base.html' %}
{% block content %}
<a href="/rdaily/?s={{ this_day.sampling.strftime('%Y-%m-%d') }}">&larr;</a> 
<h1>{% if this_day.tipe in ('Rain Fall', 'PCH') %}<small class="badgepch">{{ this_day.tipe }}</small>{% else %}<small class="badgepda">{{ this_day.tipe }}</small>{% endif %} {{ this_day.nama }} - <small>{{ this_day.sampling.strftime('%d %b') }}</small></h1>
<div class="grid">
    <div>
    <table>
        <thead>
            <th>Jam</th>
            <th>Banyak Data</th>
            <th>Rain</th>
            <th>WLevel</th>
        </thead>
        <tbody>
            {% for d, v in this_day._24jam().items() %}
            <tr>
                <td>{{ d }}</td>
                <td>{{ v['num'] }}</td>
                <td {% if loop.index <  7 %}style="background-color:#eee;"{% endif %}>{% if v['rain'] > 0 %}{{ v['rain'] }}{% else %}-{% endif %}</td>
                <td>{% if v['wlevel'] > 0 %}{{ v['wlevel'] }}{% else %}-{% endif %}</td>      
            </tr>
            {% endfor %}        
        </tbody>
    </table>
    <p>End</p>
    </div>
    <div><pre id="raw"></pre></div>    
</div>
{% endblock %}
{% block js_foot %}
<script>
    let out = {{ this_day.raw|safe }};
    let raw = document.getElementById('raw')
    raw.innerText = JSON.stringify(out, null, 2);
</script>
{% endblock %}