{% extends 'base.html' %}
{% block content %}
<h2 class="border-start border-5 border-danger ps-2 fw-lighter">Semua Pos (<b>{{ poses|length}}</b>)</h2>
<div class="row">
    <div class="col-10">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Tipe/Jenis</th>
                    <th>Elevasi</th>
                    <th>LonLat</th>
                </tr>
            </thead>
            <tbody>
            {% for p in poses %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ p.nama }} {{ p.id }}</td>
                    <td>{% if p.tipe == '1' %} <span class="badge rounded-pill text-bg-info">PCH</span>{% elif p.tipe=='2' %} <span class="badge rounded-pill" style="background-color: var(--bs-orange);">PDA</span>{% else %} <span class="badge rounded-pill text-bg-primary">Klimat</span>{% endif %}</td>
                    <td><code>{{ p.elevasi }}</code></td>
                    <td><code>{{ p.ll }}</code></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Tidak ada data</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2">

    </div>
</div>

{% endblock %}