{% extends 'base.html' %}
{% block content %}
<h2 class="border-start border-5 border-danger ps-2 fw-lighter">Semua Pos (<b>{{ poses|length}}</b>)</h2>
<div class="row">
    <div class="col-sm-10">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama <span class="float-end fw-bold">ID</span></th>
                        <th>Tipe/Jenis</th>
                        <th>Pos Vendor</th>
                        <th>Petugas</th>
                        <th>Elevasi, LonLat</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in poses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ p.nama }} <span class="float-end text-secondary">{{ p.id }}</span></td>
                        <td>
                            {% if p.tipe == '1' %}<span class="fw-normal text-light badge rounded-pill text-bg-info">PCH</span>
                            {% elif p.tipe=='2' %} <span class="fw-normal badge rounded-pill" style="background-color: var(--bs-orange);">PDA</span>
                            {% elif p.tipe=='3' %} <span class="fw-normal badge rounded-pill text-bg-primary">Klimat</span>
                            {% elif p.tipe=='4' %} <span class="fw-normal badge rounded-pill text-bg-light">Kualitas Air</span>{% endif %}</td>
                        <td>{{ p.source }}</td>
                        <td>{% if p.petugas_set %}{{ p.petugas_set.0.nama }}{% endif %}</td>
                        <td>{{ p.elevasi }} <code>{{ p.ll }}</code></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Tidak ada data</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>
{% endblock %}