{% extends 'base.html' %}
{% block content %}
<h2>Migration Status</h2>
<p>Pembacaan: {{ reading_time }}</p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Imei</th>
                <th>Nama</th>
                <th>Data4</th>
                <th>Data3</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data_lines %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td><code>{{ row[2] }}</code></td>
                <td><code>{{ row[3] }}</code></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}