<nav
  class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom"
  style="box-shadow: 0px 6px 15px -5px #888"
>
  <div class="container">
    <a class="navbar-brand text-secondary" href="/"><img src="/static/img/logo-pupr.png" alt="PUPR" class="me-2">BBWS Citanduy</a>

    <button
      class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link" aria-current="page" href="/"
            ><i class="bi bi-house me-1"></i> Home</a
          >
        </li>
        <li class="nav-item dropdown px-2">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            id="dropdownRtdMenuLink"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-geo-alt me-1"></i> Hidrologi</a
          >
          <ul class="dropdown-menu" araia-labelledby="dropdownRtdMenuLink">
            <li>
              <a class="dropdown-item navlink" href="/pch"
                ><i class="bi bi-cloud-rain me-2 text-danger"></i> Curah
                Hujan</a
              >
            </li>
            <li>
              <a class="dropdown-item navlink" href="/pda"
                ><i class="bi bi-water me-2 text-danger"></i> Duga Air</a
              >
            </li>
            <li>
              <a class="dropdown-item navlink" href="/pklimat"
                ><i class="bi bi-thermometer-half me-2 text-danger"></i>
                Klimatologi</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown px-2">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-sliders2-vertical me-1"></i> Kualitas Air</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item navlink" href="/pka"
                ><i class="bi bi-geo-alt me-2 text-danger"></i> Pos Kualias Air</a
              >
            </li>
            <li>
              <a class="dropdown-item navlink" href="/pka/map"
                ><i class="bi bi-map me-2 text-danger"></i> Peta</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item px-2 dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="bi bi-map me-1"></i> Peta</a>
          <ul
            class="dropdown-menu"
          >
          <li>
            <a href="/map/hujan" class="dropdown-item navlink"
              ><i class="bi bi-cloud-rain me-2 text-success"></i> Hujan</a
            >
          </li>
          <li>
            <a href="/map/sungai" class="dropdown-item navlink"
              ><i class="bi bi-water me-2"></i> Sungai</a
            >
          </li>
          <li class="dropdown-divider"></li>
          <li>
            <a href="/map/pos" class="dropdown-item navlink"
              ><i class="bi bi-person-raised-hand me-2 text-success"></i> Pos Hidrologi</a
            >
          </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item px-2 dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i
              class="bi bi-person-fill {% if current_user.is_admin %}text-danger {% endif %}me-1"
            ></i>
            {{ current_user.username }}</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuLink"
          >
            {% if current_user.is_admin %}

            <li>
              <a href="/pos/manual" class="dropdown-item navlink"
                ><i class="bi bi-pencil me-2 text-danger"></i> Data Manual</a
              >
              <a href="/rpos" class="dropdown-item navlink"
                ><i class="bi bi-cpu me-2 text-danger"></i> Data Logger</a
              >
              <hr class="dropdown-divider" />
              <a href="/pos/manual/kinerja" class="dropdown-item navlink"
                ><i class="bi bi-clipboard2-pulse me-2 text-danger"></i> Kinerja Data Manual</a
              >
              <a href="/rdaily" class="dropdown-item navlink"
                ><i class="bi bi-graph-up me-2 text-danger"></i> Kinerja Telemetri</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <a href="/download" class="dropdown-item navlink"
            ><i class="bi bi-cloud-download me-2 text-danger"></i> Download</a
          >
        <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a href="/user" class="dropdown-item navlink"
                ><i class="bi bi-key me-2 text-danger"></i> User</a
              >
            </li>
            <li>
              <a href="/petugas" class="dropdown-item navlink"
                ><i class="bi bi-person me-2 text-danger"></i> Petugas Pos</a
              >
            </li>
            <li>
              <a href="/pos" class="dropdown-item navlink"
                ><i class="bi bi-geo-alt me-2 text-danger"></i> Pos Hidrologi</a
              >
            </li>
            {% else %}
            <li>
              <a href="/me" class="dropdown-item navlink"
                ><i class="bi bi-person me-2 text-danger"></i> Profile</a
              >
            </li>
            {% endif %}
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a href="/logout" class="dropdown-item navlink"
                ><i class="bi bi-power text-danger me-2"></i> Logout</a
              >
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item px-2">
          <a class="nav-link" href="/login"
            ><i class="bi bi-power text-danger me-1"></i> Login</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
