<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}BBWS Citanduy{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/id.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
    <script>dayjs.extend(window.dayjs_plugin_relativeTime); dayjs.locale('id')</script>

<!-- Plugin -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.14.0/dist/cdn.min.js"></script>
<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.0/dist/cdn.min.js"></script>
    <style>
      tr > th {
        font-weight: 300;
      }
    </style>
  </head>
  <body style="padding-top: 60px;">
    <div class="container-fluid mb-4">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom" style="box-shadow: 0px 6px 15px -5px #888;">
        <div class="container">
          <a class="navbar-brand" href="/">bbws citanduy</a>
          
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarText">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item px-2">
                <a class="nav-link" aria-current="page" href="/"><i class="bi bi-house me-1"></i> Home</a>
              </li>
              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" role="button" id="dropdownRtdMenuLink" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-geo-alt me-1"></i> Pos Hidrologi</a>
                <ul class="dropdown-menu" araia-labelledby="dropdownRtdMenuLink">
                  <li><a class="dropdown-item navlink" href="/pch"><i class="bi bi-cloud-rain me-2 text-danger"></i> Curah Hujan</a>
                  </li>
                  <li><a class="dropdown-item navlink" href="/pda"><i class="bi bi-water me-2 text-danger"></i> Duga Air</a>
                  </li>
                  <li><a class="dropdown-item navlink" href="/pklimat"><i class="bi bi-thermometer-half me-2 text-danger"></i> Klimatologi</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" role="button" id="dropdownRtdMenuLink" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-cpu me-1"></i> Telemetri</a>
                <ul class="dropdown-menu" araia-labelledby="dropdownRtdMenuLink">
                  <li><a class="dropdown-item navlink" href="/rdaily"><i class="bi bi-clipboard2-pulse me-2 text-danger"></i> Sehat</a>
                  </li>
                  <li><a class="dropdown-item navlink" href="/flog"><i class="bi bi-clipboard2-pulse me-2 text-danger"></i> Riwayat Ambil Data</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item navlink" href="/rpos"><i class="bi bi-list-ul me-2 text-danger"></i> Pos Vendor</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item px-2">
                <a href="/map" class="nav-link"><i class="bi bi-geo-alt me-1"></i> Peta</a>
              </li>
            </ul>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill {% if current_user.is_admin %}text-danger {% endif %}me-1"></i> {{ current_user.username }}</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                  {% if current_user.is_admin %}
                  
                  <li><a href="/pos/manual" class="dropdown-item navlink"><i class="bi bi-geo-alt me-2 text-danger"></i> Data Manual</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a href="/user" class="dropdown-item navlink"><i class="bi bi-person me-2 text-danger"></i> User</a></li>
                  <li><a href="/petugas" class="dropdown-item navlink"><i class="bi bi-person me-2 text-danger"></i> Petugas Pos</a></li>
                  <li><a href="/pos" class="dropdown-item navlink"><i class="bi bi-geo-alt me-2 text-danger"></i> Pos Hidrologi</a></li>
                  {% else %}
                  <li><a href="/me" class="dropdown-item navlink"><i class="bi bi-person me-2 text-danger"></i> Profile</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  {% endif %}
                  <li><a href="/logout" class="dropdown-item navlink"><i class="bi bi-power text-danger me-2"></i> Logout</a></li>   
                </ul>
              </li>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="/login"><i class="bi bi-power text-danger me-2"></i> Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">   
      {% block content %}{% endblock %}
    </div>
    <div class="container-fluid">
      <footer class="py-3 my-4 border-top">
        <p class="text-center text-body-secondary">© 2024 BBWS Citanduy</p>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
  {% block js_foot %}{% endblock %}
</html>