{% extends 'base.html' %}
{% block content %}
<h2 class="fw-lighter">{{ ctx.pos.nama }}</h2>

{% if ctx.pos.tipe == "1" %}
<div class="text-end mb-3">
    <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-secondary me-5">{{ ctx._sampling.strftime('%b')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%b %Y')}}</span>
    {% if ctx.sampling_ %}<a class="btn btn-outline-secondary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%b')}}</a>
    {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
</div>

<i class="text-end">Curah Hujan dalam Milimeter (Mm)</i>
<table id="table_ch" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="background-color: var(--bs-info-bg-subtle)">Tanggal Hujan</th>
            <th style="background-color: var(--bs-info-bg-subtle)">Tanggal Periksa</th>
            <th style="background-color: var(--bs-info-bg-subtle)">Curah Hujan</th>
        </tr>
    </thead>
    <tbody>
        {% for tanggal, data in ctx.list_data.items()|reverse %}
        <tr>
            <td>{{ tanggal }} {{ ctx.sampling.strftime('%b')}}</td>
            <td>{{ data.tgl.strftime('%d %b') }}</td>
            {% if data.ch %}
            <td class="text-end" x-data="FormHujan({{ctx.pos.id}}, {{ tanggal }}, {{ data.ch }})" x-html="cnt" @click="openForm()" @click.outside="closeForm()"></td>
                {% else %}
                <td class="text-end" x-data="FormHujan({{ctx.pos.id}}, {{ tanggal }}, {{ data.ch }})" x-html="cnt" @click="openForm()" @click.outside="closeForm()"></td>
                {% endif %}
        </tr>
        {% endfor %}    
    </tbody>
    </table>
{% elif ctx.pos.tipe == '2' %}
<div class="text-end mb-3">
    <a href="?s={{ ctx._sampling.strftime('%Y-%m-%d')}}" class="btn btn-outline-secondary me-5">{{ ctx._sampling.strftime('%b')}}</a> <span class="fs-3">{{ ctx.sampling.strftime('%b %Y')}}</span>
    {% if ctx.sampling_ %}<a class="btn btn-outline-secondary ms-5" href="?s={{ ctx.sampling_.strftime('%Y-%m-%d')}}">{{ ctx.sampling_.strftime('%b')}}</a>
    {% else %}<button class="btn btn-outline-secondary ms-5">-</button>{% endif %}</span>
</div>

<i class="text-end">TMA dalam Centimeter (Cm)</i>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="background-color: var(--bs-warning-bg-subtle)">Tanggal</th>
            <th style="background-color: var(--bs-warning-bg-subtle)">Jam 7</th>
            <th style="background-color: var(--bs-warning-bg-subtle)">Jam 12</th>
            <th style="background-color: var(--bs-warning-bg-subtle)">Jam 17</th>
        </tr>
    </thead>
    <tbody>
        {% for tanggal, d in ctx.list_data.items()|reverse %}
        <tr>
            <td>{{ tanggal }} {{ ctx.sampling.strftime('%b') }}</td>
            {% if d.get('tma') %}
            <td class="text-end" x-data="formTma({{ctx.pos.id}}, '{{tanggal}}', '07', {{ d.get('tma').get('07') or undefined }})" x-html="cnt" @click="openForm()" @click.outside="closeForm()">{{ d.get('tma').get('07') or '' }}</td>
            <td class="text-end" x-data="formTma({{ctx.pos.id}}, '{{tanggal}}', '12', {{ d.get('tma').get('12') or undefined }})" x-html="cnt" @click="openForm()" @click.outside="closeForm()">{{ d.get('tma').get('12') or '' }}</td>
            <td class="text-end" x-data="formTma({{ctx.pos.id}}, '{{tanggal}}', '17', {{ d.get('tma').get('17') or undefined }})" x-html="cnt" @click="openForm()" @click.outside="closeForm()">{{ d.get('tma').get('17') or '' }}</td>
            {% else %}
            <td class="text-end" x-data="formTma({{ctx.pos.id}}, '{{tanggal}}', '07', )" x-html="cnt" @click="openForm()" @click.outside="closeForm()"></td>
            <td class="text-end" x-data="formTma({{ctx.pos.id}}, '{{tanggal}}', '12', )" x-html="cnt" @click="openForm()" @click.outside="closeForm()"></td>
            <td class="text-end" x-data="formTma({{ctx.pos.id}}, '{{tanggal}}', '17', )" x-html="cnt" @click="openForm()" @click.outside="closeForm()"></td>
    {% endif %}
            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}


<script>
    // Form TMA
    function formTma(id, tgl, jam, tma) {
        return {
            cnt: tma === undefined ? '...': tma,
            prevVal: tma,
            formData: {
                tma,
                jam: jam,
                fetch: true,
                sampling: '{{ ctx.sampling.strftime('%Y-%m-')}}'.concat(tgl) 
            },
            validateForm(e) {
                if (e.key == '.') {
                    if (this.formData.tma === undefined) {
                        e.preventDefault();
                    }
                } else if (e.key == 'Enter') {
                    return true
                } else if (e.key == 'Escape') {
                    this.closeForm();
                } else if (e.key < '0' || e.key > '9') {
                    e.preventDefault();
                }
            },
            openForm() {
                this.cnt = `<form @submit.prevent='submitForm'>
                    <input type='hidden' name='jam' x-model='formData.jam'>
                    <input type='text' @keypress='validateForm' name='tma' size='3' autofocus style='text-align:right' x-model='formData.tma'>
                    </form>`;
            },
            submitForm() {
                if (this.formData.tma===undefined) {
                    return false;
                }
                fetch('/pos/'+id+'/manual', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token() }}",
                        Accept: "application/json"
                    },
                    body: JSON.stringify(this.formData),
                }).then((e) => {
                    return e.json();
                }).then(y => {
                    if (! y.ok) {
                        if (this.curVal === undefined) {
                            this.formData.tma = undefined;
                            this.cnt = '...';
                        } else {
                            this.formData.tma = this.curVal;
                            this.cnt = this.curVal;
                        }
                    }
                    this.cnt = this.formData.tma;
                    this.prevVal = this.formData.tma;
                }).catch((e) => {
                    console.log('error');
                    console.log(e);
                });
            },
            closeForm() {
                this.cnt = this.prevVal === undefined ? '...': this.prevVal;
            }

        }
    }

    // Form Curah Hujan
    function FormHujan(id, tgl, ch, opened=false) {
        return {
            opened: opened,
            curVal: ch,
            cnt: ch === undefined ? '...': ch,
            formData: {
                ch,
                fetch: true,
                sampling: '{{ ctx.sampling.strftime('%Y-%m-')}}'.concat(tgl) 
            },
            validateForm(e) {
                console.log('validateForm')
                if (e.key == '.') {
                    if (this.formData.ch === undefined) {
                        e.preventDefault();
                    }
                } else if (e.key == 'Enter') {
                    return true
                } else if (e.key == 'Escape') {
                    this.closeForm();
                } else if (e.key < '0' || e.key > '9') {
                    e.preventDefault();
                }
            },
            openForm() {
                this.cnt = `<form @submit.prevent='submitForm'>
                    <input type='text' @keypress='validateForm' name='ch' size='3' style='text-align:right' autofocus x-model='formData.ch'>
                    </form>`;
            },
            submitForm() {
                fetch('/pos/'+id+'/manual', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token() }}",
                        Accept: "application/json"
                    },
                    body: JSON.stringify(this.formData),
                }).then((e) => {
                    return e.json()
                }).then(y => {
                    if (!y.ok) {
                        this.cnt = this.prevVal;
                        this.formData.ch = this.prevVal;
                    }
                    this.cnt = this.formData.ch;
                    this.curVal = this.formData.ch;
                    console.log('sukses');
                    console.log(e);
                }).catch((e) => {
                    console.log('error');
                    console.log(e);
                });
            },
            closeForm() {
                this.cnt = this.curVal===undefined ? '...' : this.curVal;
            }
        }
    }
</script>

{% endblock %}