{% extends 'base.html' %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/img/cty-logo.png" alt="" width="162" height="110">
    <h1 class="display-5 fw-bold text-body-emphasis">Sisfo Hidrologi</h1>
    <div class="col-lg-6 mx-auto mt-5">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/pch" role="button" class="btn btn-primary btn-lg px-4 gap-3">Curah Hujan</a>
        <a href="/pda" role="button" class="btn btn-outline-secondary btn-lg px-4">Tinggi Muka Air</a>
      </div>
    </div>
  </div>
{% endblock %}